<template>
  <v-layout row wrap>


    <v-flex xs12>
      <v-card color="cyan darken-2" class="white--text">
        <v-container fluid grid-list-lg>
          <v-layout row>
            <v-flex xs7>
              <v-card-title primary-title>
                <h2 class="headline mb-0">{{ userEmail }}</h2>
              </v-card-title>
            </v-flex>
            <v-flex xs5>
              <!-- <v-card-media
                src="/static/grey_avatar_2.svg"
                alt="Account Avatar"
                height="200px"
                contain>
              </v-card-media> -->
              <i class="account-icon material-icons">account_circle</i>
            </v-flex>
          </v-layout>
        </v-container>
        <v-tooltip bottom>
          <v-btn
            :color="editIcon.color"
            dark
            large
            absolute
            bottom
            left
            fab
            slot="activator"
            @click="editUser">
            <v-icon>{{editIcon.icon}}</v-icon>
          </v-btn>
          <span>{{editIcon.tip}}</span>
        </v-tooltip>
      </v-card>

      <v-snackbar
            :color="snackBarOptions.color"
            multi-line
            top
            v-model="snackbar"
          >
          {{snackBarOptions.text}}
          <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>

      <v-layout row>
        <v-flex xs12 md8 lg5 offset-md1 offset-lg1>
          <v-form v-if="editMode" class="mt-5 pl-2 pr-2" v-model="valid" ref="form" lazy-validation>
            <h1 v-if="updateError" class="update-text subheading update-error">{{updateError}}</h1>
            <v-text-field
              label="New E-mail"
              v-model="email"
              :rules="emailRules"
              counter="50"
              required
            ></v-text-field>
            <v-text-field
              type="password"
              label="Current Password"
              v-model="currentPassword"
              :rules="currentPasswordRules"
              counter="50"
              required
            ></v-text-field>
            <v-text-field
              type="password"
              label="New Password"
              v-model="newPassword"
              :rules="newPasswordRules"
              counter="50"
              required
            ></v-text-field>
            <v-text-field
              type="password"
              label="Confirm Password"
              v-model="confirmPassword"
              :rules="confirmPasswordRules"
              counter="50"
              required
            ></v-text-field>
            <v-layout row-wrap class="update-buttons">
              <v-flex class="update-button-right" xs-4>
                <v-btn
                  v-if="!sending"
                  @click="submit"
                  :disabled="!valid"
                >
                  submit
                </v-btn>
              </v-flex>
              <v-flex xs-1>
                <div class="update-loading-circle">
                  <v-progress-circular v-if="sending" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
                </div>
              </v-flex>
              <v-flex class="update-button-left" xs-4>
                <v-btn v-if="!sending" @click="clear">clear</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
      
    </v-flex>
    <v-flex xs12>
    </v-flex>

  </v-layout>
</template>

<script>
import { updateUser } from '../services/UserService'

export default {
  name: 'AccountSettings',
  data () {
    return {
      valid: true,
      editMode: false,
      sending: false,
      snackbar: false,
      updateError: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^.+@.+\..+$/.test(v) || 'E-mail must be valid'
      ],
      newPassword: '',
      currentPassword: '',
      confirmPassword: '',
      currentPasswordRules: [
        (v) => !!v || 'Current Password is required',
        (v) => v && v.length >= 8 || 'Password must be atleast 8 characters'
      ],
      newPasswordRules: [
        (v) => !!v || 'New Password is required',
        (v) => v && v.length >= 8 || 'Password must be atleast 8 characters'
      ],
      confirmPasswordRules: [
        (v) => !!v || 'Confirm Password is required',
        (v) => v && v.length >= 8 || 'Password must be atleast 8 characters',
        (v) => v === this.newPassword || 'This must match the New Password'
      ]
    }
  },

  computed: {
    userEmail () {
      return this.$store.state.user.email
    },
    editIcon () {
      return (this.editMode === false) ?
       { icon:'edit', color:'amber lighten-2', tip: 'Edit You Settings' } :
       { icon:'cancel', color: 'red lighten-2', tip: 'Cancel Edit' }
    },
    snackBarOptions () {
      return (this.updateError === false) ?
      { color: 'green lighten-2', text: 'Account Updated Successfully!' } :
      { color: 'red lighten-2', text: 'Account Update Failed..' }
       
    }
  },

  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        if (this.newPassword === this.confirmPassword) {
          this.sending = true
          updateUser(this.userEmail, this.email, this.currentPassword,
                     this.newPassword, (res) => {
            if (res.data.success === true) {
              this.$store.dispatch('loadUser')
              this.editUser()
              this.updateError = false
            } else if(res.data.success === false) {
              this.updateError = 'Invalid Login Credentials. Please Try Again.'
            } else {
              this.updateError = 'Network Error. Please Try Again.'
            }
            this.snackbar = true
            this.sending = false
          })
        } else {
          this.updateError = 'Both Passwords Must Be The Same!'
        }
      } 
    },
    clear () {
      this.$refs.form.reset()
    },
    editUser () {
      this.editMode = !this.editMode
      if (this.editMode === false) {
        this.clear()
      }
    }
  },

  mounted () {

  }
}
</script>

<style>
 .account-icon {
  font-size: 10em;
  color: #EEEEEE;
 }
 .update-text, .update-icon {
    text-align: center;
  }
  .update-button-right {
    text-align: right;
  }
  .update-button-left {
    text-align: left;
  }
  .update-error {
    color: red;
  }
  .update-loading-circle {
    text-align: center;
  }
</style>
