<template>
<v-layout row wrap>
  <v-flex xs12 my-0>
		<v-breadcrumbs divider="/" v-if="items.length > 1">
			<v-breadcrumbs-item 
				v-for="item in items" :key="item.text"
				:disabled="item.disabled"
				:to="item.route" exact
			>
				{{ item.text }}
			</v-breadcrumbs-item>
		</v-breadcrumbs>
	</v-flex>
</v-layout>
</template>

<script>
export default {
    name: 'Breadcrumb',
		computed: {
			items () {
				try {
					return this.crumbs[this.$route.name].items
				} catch (e) {
					return { text: '/', disabled: true }
				}
			}
		},
		data () {
		  return {
			  crumbs: {
					NewCampaign: {
						items: [
							{ text: 'campaigns', route: '/campaigns', disabled: false },
							{ text: 'new', disabled: true }
						]
					},
					Campaigns: {
						items: [
							{ text: 'campaigns', disabled: true }
						]
					},
					EditCampaign: {
						items: [
							{ text: 'campaigns', route: '/campaigns', disabled: false },
							{ text: 'edit', disabled: true }
						]
					},
					CampaignDetails: {
						items: [
							{ text: 'campaigns', route: '/campaigns', disabled: false },
							{ text: 'details', disabled: true }
						]
					},
					Login: {
						items: [
							{ text: 'login', disabled: true }
						]
					},
					AccountSettings: {
						items: [
							{ text: 'account', disabled: true },
						]
					},
					Statistics: {
						items: [
							{ text: 'statistics', disabled: true },
						]
					},
					ControlPanel: {
						items: [
							{ text: 'control panel', disabled: true }
						]
					},
					Loading: {
						items: [
							{ text: 'loading', disabled: true }
						]
					}
			  }
			}
		}
}
</script>

<style>

</style>
