<template>
<v-layout row wrap>


  <v-flex xs12>

    <v-layout row wrap>
      <v-flex xs12>

        <v-card color="blue-grey darken-2" class="white--text">
          <v-layout row wrap>
            <v-flex xs6>
              <v-card-title primary-title>
                <div class="headline card-text">{{campaignData.title}}</div>
              </v-card-title>
              <v-subheader v-text="campaignData.url"></v-subheader>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-card-actions>
              <v-btn v-if="!sending" flat dark @click="newEmail()"> <v-icon class="add-icon">add</v-icon> New Email</v-btn>
              <v-progress-circular v-if="sending" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
            </v-card-actions>
          </v-layout>
        </v-card>

        <v-snackbar
            color="light-blue accent-4"
            multi-line
            top
            v-model="snackbar"
          >
          Emails Sent Successfully!
          <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
      </v-flex>

      <v-flex xs12>
        <v-data-table
        v-bind:headers="emailHeaders"
        v-bind:items="emailData"
        v-bind:search="search"
        v-bind:pagination.sync="pagination"
        must-sort
        hide-actions
        class="elevation-2"
        v-bind:loading="searching"
        >
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">
                {{ props.header.text }}
              </span>
              <span>
                {{ props.header.text }}
              </span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <td>
              <v-checkbox
                primary
                hide-details
                :input-value="props.item.value"
                @click="emailSelected(props.item.email_blast_id)"
              ></v-checkbox>
            </td>
            <td  class="text-xs-right">{{ props.item.email_blast_id }}</td>
            <td  class="text-xs-right">{{ props.item.emails_sent }}</td>
            <td  class="text-xs-right">{{ props.item.emails_opened }}</td>
            <td  class="text-xs-right">{{ props.item.links_opened }}</td>
            <td  class="text-xs-right">{{ props.item.time_sent | formatDate }}</td>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="white" icon="cloud">
              <div v-if="searching">Loading, Please Wait</div>
              <v-progress-circular v-if="searching" indeterminate color="primary"></v-progress-circular>
              <div v-if="!searching">No Results Found</div>
            </v-alert>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

     <v-layout row wrap>
      <v-flex xs12>
        <div class="text-xs-center pt-2">
          <v-pagination v-model="pagination.page" :length="pages" circle color="blue-grey"></v-pagination>
        </div>
      </v-flex>
    </v-layout>

  </v-flex>


</v-layout>
</template>

<script>
import { getCampaignById, getAllCampaignBlastStats, createEmailBlast } from '../services/CampaignService'
import { getCampaignEmails } from '../services/EmailService'

export default {
    name: 'campaign-details',
    props: ['id'],
    data () {
      return {
        search: '',
        sending: false,
        snackbar: false,
        searching: true,
        selectedObject: -1,
        pagination: {
          rowsPerPage: 7,
          sortBy: 'time_sent',
          descending: true
        },
        selected: [],
        campaignData: {},
        emailData: [],
        rawEmailData: [],
        emailHeaders: [
           { text: '', value: 'checked', sortable: false, align: 'center'},
           { text: '#', value: 'email_blast_id', align: 'center' },
           { text: 'Emails Sent', value: 'emails_sent', align: 'center'},
           { text: 'Emails Opened', value: 'emails_opened', align: 'center'},
           { text: 'Links Opened', value: 'links_opened', align: 'center'},
           { text: 'Time Sent', value: 'time_sent', align: 'center'}
        ]
      }
    },
    methods: {
      emailSelected (id) {
       this.emailData.forEach( (record) => {
        if (id != record.email_blast_id) {
          record.value = false
        } else {
          record.value = !record.value
          this.selectedObject = record.value ? record : -1
        }
      })
    },
    newEmail () {
      this.sending = true
      createEmailBlast(this.id, (res) => {
        this.getEmailData()
        this.snackbar = true
        this.sending = false
      })
    },
    getEmailData () {
      getCampaignEmails(this.id, (res) => {
        res.data.forEach(record => {
          this.rawEmailData[record.email_blast_id] = record.time_sent
        })

        getAllCampaignBlastStats(this.id, (res) => {
          this.emailData = res.data || []
          this.emailData.forEach(record => {
            this.$set(record, 'value', false)
            this.$set(record, 'time_sent', this.rawEmailData[record.email_blast_id])
          })
        })
      })
    }
    },
    computed: {
      pages () {
        return this.pagination.rowsPerPage ? Math.ceil(this.emailData.length / this.pagination.rowsPerPage) : 0
      }
    },
    mounted () {
      getCampaignById(this.id, (res) => {
        this.campaignData = res.data[0]
        this.searching = false
      })
      
      this.getEmailData()
    },
    
}
</script>

<style scoped>
  .card-text div {
    display: block;
  }
  .alert {
    color: black;
  }
  .card__title--primary {
    padding-bottom: 0
  }

  .subheader {
    color: #ccc !important;
  }
</style>
