<template>
<v-layout row wrap>
  <v-flex xs12>

    <v-layout fixed row wrap>
      <v-flex xs12>
        <v-card color="cyan darken-2" class="white--text">
          <v-card-title primary-title>
            <div class="headline">Your Campaigns</div>
            <div></div>
          </v-card-title>
          <v-card-actions>
            <v-btn class="cyan darken-4" flat dark @click="newCampaign()"> <v-icon class="add-icon">add</v-icon> New Campaign</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>


      <v-flex xs12>
        <v-data-table
          :headers="campaignHeaders"
          :items="campaignData"
          :search="search"
          :pagination.sync="pagination"
          item-key="campaign_id"
          must-sort
          hide-actions
          class="elevation-2"
          :loading="searching"
        >
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">
                {{ props.header.text }}
              </span>
              <span>
                {{ props.header.text }}
              </span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <tr :class="expandClass(props.item)">
              <td>
                <v-checkbox
                  primary
                  hide-details
                  :input-value="props.item.value"
                  @click="campaignSelected(props.item.campaign_id)"
                ></v-checkbox>
              </td>
              <td @click="handleExpand(props)" class="text-xs-right">{{ props.item.title }}</td>
              <td @click="handleExpand(props)" class="text-xs-right">{{ props.item.url }}</td>
              <td @click="handleExpand(props)" class="text-xs-right"><v-icon medium>{{ props.item.locked == 1 ? 'lock' : 'lock_open'}}</v-icon></td>
              <td @click="handleExpand(props)" class="text-xs-right">{{ props.item.created | formatDate }}</td>
            </tr>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="white" icon="cloud">
              <div v-if="searching">Loading, Please Wait</div>
              <v-progress-circular v-if="searching" indeterminate color="primary"></v-progress-circular>
              <div v-if="!searching">No Results Found</div>
            </v-alert>
          </template>
          <template slot="expand" slot-scope="props">
            <v-card flat>
              <v-card-text><v-subheader>Content</v-subheader></v-card-text>
              <v-card-text><span v-html="props.item.content"></span></v-card-text>
            </v-card>
          </template>
        </v-data-table>


      </v-flex>
    </v-layout>
    
    <v-layout row wrap>
      <v-flex xs12>
        <div class="text-xs-center pt-2">
          <v-pagination v-model="pagination.page" :length="pages" circle color="blue-grey"></v-pagination>
        </div>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12>
        <v-tooltip bottom>
          <v-btn slot="activator" fab dark large :color="editCampaignColor" @click="editCampaign(selectedObject.campaign_id)">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <span>Edit Campaign</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn slot="activator" fab dark large :color="manageEmailColor" @click="manageEmails(selectedObject.campaign_id)">
            <v-icon dark>mail_outline</v-icon>
          </v-btn> 
          <span>Manage Emails</span>
        </v-tooltip>
      </v-flex>
    </v-layout>

  </v-flex>
</v-layout>
</template>

<script>
  import { getCampaignsByUser } from '../services/CampaignService'

  export default {
    data () {
      return {
        search: '',
        selectedObject: -1,
        expandedId: -1,
        searching: true,
        pagination: {
          rowsPerPage: 7,
          sortBy: 'created',
          descending: true
        },
        selected: [],
        campaignHeaders: [
          { text: '', value: '', sortable: false, align: 'center'},
          { text: 'Title', value: 'title', align: 'center' },
          { text: 'URL', value: 'url', align: 'center'},
          { text: 'Locked', value: 'locked', align: 'center'},
          { text: 'Date Created', value: 'created', align: 'center'}
        ],
        campaignData: []
      }
    },
    computed: {
      pages () {
        return this.pagination.rowsPerPage ? Math.ceil(this.campaignData.length / this.pagination.rowsPerPage) : 0
      },
      editCampaignColor () {
        return this.editCampaignEnabled ? 'amber lighten-2' : 'grey lighten-2'
      },
      manageEmailColor () {
        return this.manageEmailEnabled ? 'green lighten-2' : 'grey lighten-2'
      },
      editCampaignEnabled() {
        return this.selectedObject != -1 && this.selectedObject.locked == 0
      },
      manageEmailEnabled() {
        return this.selectedObject != -1
      }
    },
    methods: {
    newCampaign () {
      if (this.selectedObject !== -1) {
        this.clearSelected()
      }
      this.$router.push({ name: 'NewCampaign' })
    },
    editCampaign (campaignId) {
      if (this.editCampaignEnabled) {
          this.clearSelected()
          this.$router.push({ name: 'EditCampaign', params: { id: campaignId}})
      }
    },
    manageEmails (campaignId) {
      if (this.manageEmailEnabled) {
          this.clearSelected()
          this.$router.push({ name: 'CampaignDetails', params: { id: campaignId}})
      }
    },
    campaignSelected (id) {

       this.campaignData.forEach( (record) => {
        if (id != record.campaign_id) {
          record.value = false
        } else {
          record.value = !record.value
          this.selectedObject = record.value ? record : -1
        }
      })
    },
    clearSelected () {
      this.selectedObject.value = false
      this.selectedObject = -1
    },
    handleExpand (row) {
      row.expanded = !row.expanded
      this.expandedId = (this.expandedId !== row.item.campaign_id) ? row.item.campaign_id : -1
      // this.expandedId = row.item.campaign_id
    }, 
    expandClass (row) {
        return (row.campaign_id == this.expandedId ? 'selected-row' : '')
    }
  },
  mounted () {
    getCampaignsByUser( (res) => {
      this.campaignData = res.data
      
    }, () => this.searching = false)
  }
}
</script>



<style>
  table span {
    font-size: 1.2rem;
    color: black;
  }
  .add-icon {
    padding-right: .33em;
  }
  .card__text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .selected-row {
    background-color: #78909c !important;
    color: white;
  }
  .selected-row:hover {
    background-color: #546e7a !important;
    color: white;
  }
</style>
