<template>
  <v-layout row wrap>

    <v-tabs fixed centered>

      <v-flex xs12>
        <v-card color="cyan darken-3" class="white--text">
          <v-container fluid grid-list-lg>
            <v-layout row-wrap>
              <v-flex xs11>
                <v-card-title primary-title>
                  <div class="headline">Control Panel</div>
                </v-card-title>
                <div v-if="topics[currentItem] === 'Subscriber'" class="mb-4 pb-3"></div>
                <v-card-actions>
                  <v-btn  class="cyan darken-4" v-if="currentItem != 2" flat dark @click="openDialog"> <v-icon class="add-icon">add</v-icon> New {{ topics[currentItem] }}</v-btn>
                </v-card-actions>
              </v-flex>
              <v-flex md1 xs3 mr-3>
                <v-btn @click="refresh" color="cyan large lighten-4">
                  <v-icon x-large>refresh</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>

      <v-tabs-bar color="cyan darken-1" dark>
        <v-tabs-slider color="amber darken-1"></v-tabs-slider>
        <v-tabs-item
          v-for="i in 3"
          :key="i"
          @click="tabClicked(i)"
          :href="'#tab-' + i"
        >
          {{ tabItems[i] }}
        </v-tabs-item>
        
      </v-tabs-bar>

      <v-tabs-items>
        <v-tabs-content
          v-for="i in 3"
          :key="i"
          :id="'tab-' + i"
        >
          <div :class="{'control-loading-circle' : loading}">
              <v-progress-circular v-if="loading" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
          </div>
          
          <v-list two-line subheader v-if="!loading">
                <v-subheader inset>{{ panelData.title }}</v-subheader>
                <v-divider inset></v-divider>
                <v-list-tile avatar v-for="item in items" v-bind:key="item.id" @click="">
                  <v-list-tile-avatar>
                    <v-icon :class="item.style">{{ panelData.icon }}</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple @click="deleteItem(item.id)">
                      <v-icon color="red accent-1">cancel</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
          </v-list>


        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>


    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-title class="mb-3 green lighten-2 headline white--text">Add New {{ topics[currentItem] }}</v-card-title>


        <v-form class="pl-5 pr-5" v-model="valid" ref="form" lazy-validation>
          <v-layout column>
            <h1 v-if="dialogError" class="dialog-text subheading dialog-error">{{ dialogError }}</h1>
            <v-flex v-if=" topics[currentItem] === 'User' " xs-12>
              <v-text-field
                label="E-mail"
                v-model="email"
                :rules="emailRules"
                counter="50"
                required
              ></v-text-field>
               <v-text-field
                type="password"
                label="Password"
                v-model="password"
                :rules="passwordRules"
                counter="50"
                required
              ></v-text-field>
              <v-text-field
                type="password"
                label="Confirm Password"
                v-model="confirmPassword"
                :rules="confirmPasswordRules"
                counter="50"
                required
              ></v-text-field>
            </v-flex>
            <v-flex v-if=" topics[currentItem] === 'Customer' " xs-12>
              <v-text-field
                label="Customer Name"
                v-model="customer"
                :rules="customerRules"
                counter="50"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs-12>
              <div class="login-loading-circle">
                <v-progress-circular v-if="sending" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
              </div>
            </v-flex>
          </v-layout>
        </v-form>


        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="!sending" color="green darken-1" :disabled="!valid" flat @click.native="submitDialog(topics[currentItem])">Submit</v-btn>
          <v-btn v-if="!sending" color="red accent-2" flat @click.native="dialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteDialog" persistent max-width="420">
      <v-card >
        <v-card-title class="mb-3 red lighten-2 headline white--text">Are you sure you want to delete this {{ topics[currentItem] }}?</v-card-title>
        <v-card-text>If you choose <b>YES</b>, this {{ topics[currentItem] }} will be permanetely deleted.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <div class="login-loading-circle">
                <v-progress-circular v-if="sending" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
          </div>
          <v-btn color="green darken-1" v-if="!sending" :disabled="sending" flat @click.native="handleDeleteDialog(true)">Yes</v-btn>
          <v-btn color="red accent-2" v-if="!sending" :disabled="sending" flat @click.native="handleDeleteDialog(false)">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>



  </v-layout>
</template>



<script>
  import { getUsers, createUser, deleteUser } from '../services/UserService'
  import { getSubscribers, deleteSubscriber } from '../services/SubscriberService'
  import { getCustomers, createCustomer, deleteCustomer } from '../services/CustomerService'

  export default {
    
    components: {

    },

    data () {
      return {
        tabItems: ['', 'Users', 'Subscribers', 'Customers'],
        topics: ['', 'User', 'Subscriber', 'Customer'],
        currentItem: 0,
        currentId: -1,
        loading: false,
        valid: true,
        sending: false,
        panelData: {},
        items: [
          { id: 1, title: 'Photos', subtitle: 'Jan 9, 2014' },
          { id: 2, title: 'Recipes', subtitle: 'Jan 17, 2014' },
          { id: 3, title: 'Work', subtitle: 'Jan 28, 2014' }
        ],
        dialog: false,
        dialogError: false,
        deleteDialog: false,
        customer: '',
        customerRules: [
          (v) => !!v || 'Customer name is required',
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /^.+@.+\..+$/.test(v) || 'E-mail must be valid'
        ],
        password: '',
        passwordRules: [
          (v) => !!v || 'Password is required',
          (v) => v && v.length >= 8 || 'Password must be atleast 8 characters'
        ],
        confirmPassword: '',
        confirmPasswordRules: [
        (v) => !!v || 'Confirm Password is required',
        (v) => v && v.length >= 8 || 'Password must be atleast 8 characters',
        (v) => v === this.password || 'This must match the New Password'
      ]
      }
    },

    computed: {
      tabContentItems () {
        if ( this.currentItem === 1 ) {
          return { title: 'Current Users', icon: 'account_circle' }
        } else if ( this.currentItem === 2 ) {
          return { title: 'Current Subscribers', icon: 'account_circle' }
        } else if ( this.currentItem === 3 ) {
          return { title: 'Current Customers', icon: 'account_circle' }
        }
      }
    },

    mounted () {
      this.tabClicked(1)
    },

    methods: {
       getAllUsers (action, method) {
         getUsers( (res) => {

           

           this.items = res.data.filter( u => { return u.email !== this.$store.state.user.email }).map( (user) => {
             return {
               id: user.email,
               title: user.email,
               subtitle: user.user_type,
               style: user.user_type === 'Admin' ? 'lime darken-3 white--text' : 'blue-grey lighten-2 white--text' 
             }
           })
           if (action === 'sending'){
             if (method === 'add') this.dialog = false
           } 
           this[action] = false
         })
       },

       getAllSubscribers (action, method) {
         getSubscribers(0, 25, (res) => {
           this.items = res.data.map( (subscriber) => {
             return {
               id: subscriber.subscriber_id,
               title: subscriber.email,
               subtitle: '',
               style: 'amber lighten-2 white--text'
             }
           })
           if (action === 'sending'){
             if (method === 'add') this.dialog = false
           } 
           this[action] = false
         })
       },

       getAllCustomers (action, method) {
         getCustomers( (res) => {
           this.items = res.data.map( (customer) => {
             return {
               id: customer.customer_id,
               title: customer.name,
               subtitle: '',
               style: 'light-green lighten-2 white--text'
             }
           })
           this.$store.dispatch('loadCustomers')
           if (action === 'sending'){
             if (method === 'add') this.dialog = false
           } 
           this[action] = false
         })
       },

       tabClicked (i) {
         if (i !== this.currentItem) {
          this.loading = true
          this.currentItem = i

          if ( this.currentItem === 1 ) {
            this.panelData = { title: 'Current Users', icon: 'account_circle' }
            this.getAllUsers('loading')
          } else if ( this.currentItem === 2 ) {
            this.panelData = { title: 'Current Subscribers', icon: 'email' }
            this.getAllSubscribers('loading')
          } else if ( this.currentItem === 3 ) {
            this.panelData = { title: 'Current Customers', icon: 'attach_money' }
            this.getAllCustomers('loading')
          }

        }
      },

      openDialog () {
        this.clear()
        this.dialog = true
      },

      submitDialog (type) {
        if (this.$refs.form.validate()) {
          this.sending = true
          this[`createA${this.topics[this.currentItem]}`]( (res) => {
            if (res.data.success === true) {
              this[`getAll${this.tabItems[this.currentItem]}`]('sending', 'add')
            } else if(res.data.success === false) {
              this.dialogError = `New ${this.topics[this.currentItem]} was not added.`
              this.sending = false
            } else {
              this.dialogError = 'Network Error. Please Try Again.'
              this.sending = false
            }
          })
        } 
      },

      clear () {
        this.$refs.form.reset()
      },

      deleteItem (id) {
        this.currentId = id
        this.deleteDialog = true
      },

      handleDeleteDialog (outcome) {
        if (outcome === true) {
          this.sending = true

          this[`deleteA${this.topics[this.currentItem]}`]( (res) => {
            if (res.data.success === true) {
              this[`getAll${this.tabItems[this.currentItem]}`]('sending', 'delete')
            } else if (res.data.success === false) {
              this.sending = false
            } else {
              this.sending = false
            }
            this.deleteDialog = false
            this.currentId = -1
          })
        }
        else {
          this.currentId = -1
          this.deleteDialog = false
        }
      },


      deleteAUser (callback) {
        deleteUser(this.currentId, callback)
      },

      deleteASubscriber (callback) {
        deleteSubscriber(this.currentId, callback)
      },

      deleteACustomer (callback) {
        deleteCustomer(this.currentId, callback)
      },

      createACustomer (callback) {
        createCustomer(this.customer, callback)
      },

      createAUser (callback) {
        createUser(this.email, this.password, callback)
      },

      refresh () {
        this[`getAll${this.tabItems[this.currentItem]}`]('loading')
      }
    }
  }
</script>



<style scoped>
  .control-loading-circle {
    text-align: center;
    margin-top: 6em;
  }
  .dialog-text {
    text-align: center;
  }
  .dialog-error {
    color: red;
  }
</style>