<template>
<v-layout row wrap>



  <v-flex xs12>
    <v-card color="blue-grey darken-2" class="white--text">
      <v-card-title primary-title>
        <div class="headline">Edit Campaign</div>
        <div></div>
      </v-card-title>
    </v-card>
  </v-flex>
  <v-flex xs12>
      <div>
      <v-form v-model="valid" ref="form" lazy-validation class="pl-2 pr-2">
        <v-select
          label="Customer"
          v-model="customer"
          auto
          :items="customers"
          item-text="name"
          item-value="customer_id"
          :rules="[v => !!v || 'Customer is required']"
          required
        ></v-select>
      <v-text-field
        label="Title"
        v-model="campaignData.title"
        :rules="titleRules"
        :counter="50"
        required
      ></v-text-field>
      <v-text-field class="pb-3"
        label="Content"
        v-model="campaignData.content"
        multi-line
        :rules="contentRules"
        :counter="1000"
        required
      ></v-text-field>
      <v-text-field class="pb-3"
        label="URL"
        v-model="campaignData.url"
        :rules="urlRules"
        :counter="100"
        required
      ></v-text-field>
      

      <v-layout row wrap>
        <v-flex xs12>
          <p>Tags</p>
        </v-flex>

        <template v-for="tag in campaignTypes">
          <v-flex xs4 v-bind:key="tag.campaign_type_id">
            <v-checkbox
              :label="tag.name"
              v-model="tagOptions"
              :value="tag.campaign_type_id"
            ></v-checkbox>
          </v-flex>
        </template>

      </v-layout>
      
      <v-btn
        @click="submit"
        :disabled="!formReadyToSubmit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
      </div>
  </v-flex>

</v-layout>
</template>

<script>
  import { getCampaignById, updateCampaign, getCampaignTypesById } from '../services/CampaignService'

  export default {
    data () {
      return {
        campaignData: {},
        id: null,
        sending: false,
        valid: false,
        titleRules: [
            (v) => !!v || 'Title is required',
            (v) => v && v.length <= 50 || 'Title must be 50 characters or less'
        ],
        contentRules: [
            (v) => !!v || 'Content is required',
            (v) => v && v.length <= 1000 || 'Content must be 1000 characters or less'
        ],
        urlRules: [
          (v) => !!v || 'URL is required',
          (v) => v && v.length <= 100 || 'Content must be 100 characters or less',
          (v) => /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/.test(v) || 'URL must be valid: http(s)://domain.com'
        ],
				customer: null,
        tagOptions: []
			}
    },

    computed: {
      formReadyToSubmit () {
        return this.valid && this.tagOptions.length > 0 && this.customer &&
        this.campaignData.title != '' && this.campaignData.content != '' && 
        this.campaignData.url != '' && !this.sending
      },

      campaignTypes () {
        return this.$store.state.campaignTypes
      },

      customers () {
        return this.$store.state.customers
      }
    },

    methods: {
    	submit () {
				if (this.$refs.form.validate()) {
          this.sending = true
          
          updateCampaign({
            campaign_id: this.id,
            customer_id: this.customer,
            title: this.campaignData.title,
            content: this.campaignData.content,
            url: this.campaignData.url,
            types: this.tagOptions
          }, (res) => {
            this.$router.push({ name: 'Campaigns' })
          })
        }
      },
      clear () {
        this.$refs.form.reset()
        this.tagOptions = []
      }
    },
    mounted () {
      this.id = this.$route.params.id

      getCampaignById(this.id, (res) => {
         this.campaignData = res.data[0]
         this.customer = this.campaignData.customer_id
      })

      getCampaignTypesById(this.id, (res) => {
        res.data.forEach((record) => {
          this.tagOptions.push(record.campaign_type_id)
        })
      })
      
    }
  }
</script>

<style scoped>

</style>
