<template>
  <v-layout row-wrap justify-center align-center>


  <v-flex class="thing" xs12 align-center justify-center>
     <v-progress-circular  indeterminate size="300" color="primary"></v-progress-circular>
     <h1 class="">ACME Email Campaigns</h1>
  </v-flex>


</v-layout>
</template>

<script>


  export default {
    components: {

    },
    computed: {
    
    
      },


    mounted () {

    },

    methods: {
    }
  }
</script>

<style>
.thing {
  text-align: center;
  margin: 0 auto;
}
</style>
