<template>
<v-layout row-wrap justify-center align-center>

  <v-flex xs-3>
  </v-flex>

  <v-flex xs-6>
      <div class="login-icon">
        <v-icon color="cyan accent-4" medium>school</v-icon>
      </div>
      <h1 class="login-text display-3">ACME Email Login</h1>
      <h1 v-if="loginError" class="login-text subheading login-error">Invalid Login Credentials!</h1>
      <v-form v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="E-mail"
          v-model="email"
          :rules="emailRules"
          counter="50"
          required
        ></v-text-field>
        <v-text-field
          type="password"
          label="Password"
          v-model="password"
          :rules="passwordRules"
          counter="50"
          required
        ></v-text-field>
        <v-layout row-wrap class="login-buttons">
          <v-flex class="login-button-right" xs-4>
            <v-btn
              v-if="!sending"
              @click="submit"
              :disabled="!valid"
            >
              submit
            </v-btn>
          </v-flex>
          <v-flex xs-1>
            <div class="login-loading-circle">
              <v-progress-circular v-if="sending" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
            </div>
          </v-flex>
          <v-flex class="login-button-left" xs-4>
            <v-btn v-if="!sending" @click="clear">clear</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
  </v-flex>

  <v-flex xs-3>
  </v-flex>

</v-layout>
</template>

<script>
import { login } from '../services/UserService'

export default {
  name: 'Login',

  data () {
    return {
      valid: true,
      sending: false,
      loginError: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^.+@.+\..+$/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => v && v.length >= 8 || 'Password must be atleast 8 characters'
      ]
    }
  },

  methods: {
  submit () {
    if (this.$refs.form.validate()) {
      this.sending = true
      login(this.email, this.password, (res) => {
        if (res.data.success === true) {
            this.$store.dispatch('checkAuthSync', {
              callback: () => {
                this.loginError = false
                this.$store.dispatch('loadUser')
                this.$store.dispatch('loadCampaignTypes')
                this.$store.dispatch('loadCustomers')
                this.$router.push({ name: 'Campaigns' })
              }
            })

        } else {
          this.loginError = true
        }
        this.sending = false
      })
    } 
  },
  clear () {
    this.$refs.form.reset()
  }
}
}
</script>

<style>
 .login-text, .login-icon {
    text-align: center;
  }
  .login-button-right {
    text-align: right;
  }
  .login-button-left {
    text-align: left;
  }
  .login-error {
    color: red;
  }
  .login-loading-circle {
    text-align: center;
  }
</style>

