<template>
  <v-layout row wrap>

    <v-flex xs12 mb-5>
      <bar-chart
      class="text-xs-right"
      :data="byCampaignTypeData"
      :options="byCampaignTypeOptions"></bar-chart>
    </v-flex>
    <v-flex xs12>
      <bar-chart
      class="text-xs-right"
      :data="allCampaignTypeData"
      :options="allCampaignTypeOptions"></bar-chart>
    </v-flex>

  </v-layout>
</template>

<script>
  import BarChart from './charts/BarChart.js'

  export default {
    components: {
      BarChart
    },
    computed: {
    
        getCampaignTypeNames () {
          return this.$store.state.campaignTypes.map(type => type.name)
        },

          //

        /** USER EMAIL DATA BY CAMPAIGN TYPE */
        byCampaignTypeData () { return {
          labels: this.getCampaignTypeNames,
          datasets: [
            {
              label: 'Emails Sent',
              backgroundColor: '#f87979',
              data: [55, 32, 78]
            },
            {
              label: 'Emails Opened',
              backgroundColor: '#aa7979',
              data: [12, 22, 28]
            },
            {
              label: 'Links Opened',
              backgroundColor: '#bb2344',
              data: [8, 17, 13]
            }
          ]
        }},

        byCampaignTypeOptions () { return {
          title: {
            display: true,
            text: 'Your Email Stats by Campaign Type',
            fontSize: "26"
          },
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Campaign Types",
                fontSize: "16"
              }
            }],
            yAxes: [{
              gridLines: {
                display: true
              },
            }]
          },
          responsive: true,
          maintainAspectRatio: false
        } },

        /** ALL USERS EMAIL DATA BY CAMPAIGN TYPE */
        allCampaignTypeData () { return {
          labels: this.getCampaignTypeNames,
          datasets: [
            {
              label: 'Emails Sent',
              backgroundColor: '#f87979',
              data: [55, 32, 78]
            },
            {
              label: 'Emails Opened',
              backgroundColor: '#aa7979',
              data: [12, 22, 28]
            },
            {
              label: 'Links Opened',
              backgroundColor: '#bb2344',
              data: [8, 17, 13]
            }
          ]
        } },

        allCampaignTypeOptions () { return {
          title: {
            display: true,
            text: 'Total Email Stats by Campaign Type',
            fontSize: "26"
          },
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Campaign Types",
                fontSize: "16"
              }
            }],
            yAxes: [{
              gridLines: {
                display: true
              },
            }]
          },
          responsive: true,
          maintainAspectRatio: false
        } }




      },


    mounted () {

    },

    methods: {
    }
  }
</script>

<style scoped>

</style>
