<template>
  <v-app id="inspire">
    <v-navigation-drawer
      clipped
      fixed
      v-model="drawer"
      app
      v-if="!loginPage && !loadingPage"
    >
      <v-list dense>
        <v-list-tile v-for="item in sidebarItems" :key="item.id" @click="$router.push({name: item.route})">
          <v-list-tile-action>
            <v-icon :color="item.color">{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>



    <v-toolbar v-if="!loginPage && !loadingPage" app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="toolbar-text">ACME Email Campaigns</v-toolbar-title>
      <v-icon color="cyan accent-4" medium>{{ toolbarIcon }}</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-items class="text-xs-center">
        <v-btn @click="userLogout" flat>Log Out</v-btn>
      </v-toolbar-items>
    </v-toolbar>



    <v-content>
      <v-container fluid grid-list-xs :mt-5="loginPage" :pt-5="loginPage">
          <breadcrumb/>
          <router-view></router-view>
      </v-container>
    </v-content>



    <v-footer v-if="!loginPage && !loadingPage" app fixed>
      <v-icon color="cyan accent-4" medium>school</v-icon>
      <span class="footer-text"> {{ userEmail }} - ACME Corporation</span>
    </v-footer>

  </v-app>
</template>

<script>
import breadcrumb from '@/components/Breadcrumb'
import { login } from './services/UserService'

export default {
  
  name: 'app',

  components: {
    breadcrumb
  },
  
  data: () => ({
    drawer: true
  }),

  props: {
    source: String
  },

  computed: {
    userEmail () {
      return this.$store.state.user.email
    },

    loginPage () {
      return this.$route.name === 'Login'
    },

    loadingPage () {
      return this.$route.name === 'Loading'
    },


    toolbarIcon () {
      return 'email'
    },

    sidebarItems () {
      return (this.$store.state.user.user_type === 'Admin') ?
      [
        {
          id: 1,
          title: 'Campaigns',
          icon: 'dashboard',
          color: 'cyan darken-4',
          route: 'Campaigns'
        },
        {
          id: 2,
          title: 'Statistics',
          icon: 'pie_chart',
          color: 'cyan darken-4',
          route: 'Statistics'
        },
        {
          id: 3,
          title: 'Account Settings',
          icon: 'security',
          color: 'cyan darken-4',
          route: 'AccountSettings'
        },
        {
          id: 4,
          title: 'Control Panel',
          icon: 'settings',
          color: 'cyan darken-4',
          route: 'ControlPanel'
        }
      ] :
      [
        {
          id: 1,
          title: 'Campaigns',
          icon: 'dashboard',
          color: 'cyan darken-4',
          route: 'Campaigns'
        },
        {
          id: 2,
          title: 'Statistics',
          icon: 'pie_chart',
          color: 'cyan darken-4',
          route: 'Statistics'
        },
        {
          id: 3,
          title: 'Account Settings',
          icon: 'security',
          color: 'cyan darken-4',
          route: 'AccountSettings'
        }
      ]
    }
  },

  methods: {
    userLogout () {
      login('', '', (res) => {
        if (res.data.success === true) {
          // This shouldn't happen...
        } else {
          this.$store.dispatch('endAuth')
          this.$router.push({ name: 'Login' })
        }
      })
    }
  },

  mounted () {
    
    this.$store.dispatch('checkAuthSync', {
      callback: () => {
        this.$store.dispatch('endStartup')
        if (this.$store.state.authorized === true) {
          console.log('you are authorized!')
          this.$store.dispatch('loadUser')
          this.$store.dispatch('loadCampaignTypes')
          this.$store.dispatch('loadCustomers')
          this.$router.push({ name: 'Campaigns' })
        } else {
          console.log('you are NOT!! authorized!!!')
          this.$router.push({ name: 'Login' })
        }
      }
    })

    setInterval( () => {

      this.$store.dispatch('checkAuthSync', {
        callback: () => {
          if (this.$store.state.authorized === true) {
            this.$store.dispatch('loadUser')
            this.$store.dispatch('loadCampaignTypes')
            this.$store.dispatch('loadCustomers')
          } else {
            this.$router.push({ name: 'Login' })
          }
        }
      })

    }, 300000)

  }

}
</script>

<style>

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer-text {
  padding-left: 1rem;
}
.toolbar-text {
  padding-right: 1rem;
}
</style>